.modal-position {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
  border: 2px solid var(--gray);
  border-radius: 0.5rem;
  background: #ffffff;
}

.background {
  position: fixed;
  inset: 0;
  z-index: 9;
  background-color: rgba(230, 230, 230, 0.548);
  backdrop-filter: blur(8px);
}

.buttons {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  justify-content: flex-end;
}
