.form {
  background: var(--white);
  z-index: 3;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 452px;
  border: 2px solid var(--gray);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  gap: 1rem;
}

.form .form-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-div .change-name {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.change-name:hover svg path {
  fill: var(--text_link_hover);
}

.form .form-input {
  border: 2px solid var(--gray);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.form-div .cursor-pointer {
  cursor: pointer;
}
