<header class="header">
  <nav class="navbar">
    <div class="navbar-items">
      <div class="left-items">
        <a class="logo-container" routerLink="">
          <img
            src="../../../assets/logo.png"
            alt="Logo PhenixUp"
            class="image-logo" />
          <span class="name-logo"> PhenixUp</span>
          <span class="subtext-logo text-xs">Better than <br />ClickUp</span>
        </a>
        <ul class="menu-container">
          <li class="menu-item text-sm">
            <a href="#">Product</a>
          </li>
          <li class="menu-item text-sm">
            <a href="#">Solutions</a>
          </li>
          <li class="menu-item text-sm">
            <a href="#">Resources</a>
          </li>
          <li class="menu-item text-sm">
            <a href="#">Pricing</a>
          </li>
        </ul>
      </div>

      <ul class="auth-container right-items">
        <li class="menu-item text-sm">
          <a routerLink="/login">Log In</a>
        </li>
        <li class="menu-item link-register text-sm">
          <a routerLink="/register" class="text-white">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
