.main {
  max-width: 1160px;
  padding-top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.svg {
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
