<nav class="menu-options">
  <li>
    <span class="text-sm cursor-pointer">Alterar imagem do projeto</span>
  </li>
  <li>
    <span class="text-sm cursor-pointer" (click)="openModalColorsProject()"
      >Alterar cores da logo do projeto</span
    >
  </li>
  <li>
    <span class="text-sm cursor-pointer"
      >Alterar nome/descrição do projeto</span
    >
  </li>
  <li>
    <span class="text-sm cursor-pointer">Adicionar pessoas no projeto</span>
  </li>
  <li>
    <span class="text-sm cursor-pointer">Configurar permissões no projeto</span>
  </li>
</nav>
<div *ngIf="isOpenModalColorsProject">
  <app-modal-colors-project (closeModal)="closeModalColorsProject()" />
</div>
