<nav class="menu-options">
  <li>
    <span class="text-sm cursor-pointer">Alterar imagem do projeto</span>
  </li>
  <li>
    <span class="text-sm cursor-pointer">Alterar cores da logo do projeto</span>
  </li>
  <li>
    <span class="text-sm cursor-pointer"
      >Alterar nome/descrição do projeto</span
    >
  </li>
  <li>
    <span class="text-sm cursor-pointer">Adicionar pessoas no projeto</span>
  </li>
  <li>
    <span class="text-sm cursor-pointer">Configurar permissões no projeto</span>
  </li>
</nav>
