<!-- <div *ngIf="isLoggedIn"> -->
<section class="kanban">
  <app-sidebar
    [projectName]="project.name"
    [projectDescription]="project.description"
    [projectColor1]="project.colorLogo1"
    [projectColor2]="project.colorLogo2" />
  <p>kanban works!</p>
  <!-- <span>{{ userProfile.name }}</span>
  <span>{{ userProfile.email }}</span> -->
  <!-- <span (click)="logoutWithGoogle()">Logout</span> -->
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="errorToken">Houve um erro pois não existe token</div>
  <span (click)="logout()">Logout</span>
</section>
<!-- </div> -->
